<section class="wrapper">
    <h3><i class="fa fa-angle-right"></i> Charts</h3>
    <!-- page start-->
    <div class="tab-pane" id="chartjs">
        <div class="row mt">
            <div class="col-lg-6">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> Bar</h4>
                    <div class="panel-body text-center">
                        <canvas id="bar" height="150" width="200"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> Bar</h4>
                    <div class="panel-body text-center">
                        <canvas id="latencyBar" height="150" width="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d3charts"></div>
</section>
